@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;700&display=swap');

body {
  font-family: 'Poppins', sans-serif;
}

.copied {
  color: #0072ce;
  transition: opacity 0.5s ease-out;
  height: 1.5rem;
}

.hidden {
  opacity: 0;
  display: none;
}

footer {
  z-index: -1;
}
